<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/04ee3a3d2e.js"
      crossorigin="anonymous"
    ></script>
    <title>VerduMarket: Mercado Online de Frutas y Verduras</title>
  </head>

  <body>

    <header>
      <img src="/images/logo2b.png" alt="Logo" class="logo-verdu">
      <div class="hamburger-container">
        <input type="checkbox" id="btn-menu" />
        <div class="btn-container">
          <label for="btn-menu"><i class="fas fa-bars fa-1x"></i></label>
        </div>
        <nav class="menu">
          <ul>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Zonas de Envío</a></li>
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>

      <div class="background-video">
        <video autoplay muted loop width="100px" height="350px" id="video-fruits">
          <source src="/videos/fruits240px.mp4" type="video/mp4">
        </video>        
      </div>

      <section class="order">
        <h2>Mercado Online <br> de Frutas y Verduras.</h2>
        <p>
          Encuentra las mejores frutas y verduras en nuestro market.<br>¡Anímate y
          explora!
        </p>
        <button class="order-button">¡Haz tu pedido aquí!</button>
      </section>
    </main>

    <footer>
      <!-- TO DO -->
    </footer>
    
  </body>
</html>
