<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/login.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Header y <Footer></Footer></title>

</head>
<body>

    <p class="banner"> ¡REGISTRATE Y OBTENÉ UN 10% DE DESCUENTO EN TU PRIMERA COMPRA! ¡SI TU COMPRA ES MAYOR A $3500 TENÉS EL ENVÍO BONIFICADO!</p>
    <header>
        <section class="staticHeader">
            <img class="logo" src=/images/logo2b.png  alt="Logo" height="40px">
            <nav role="navigation">
                <ul id="menu-options">
                        <li><a href="./views/productDetail.html"> Productos
                            <span class="fas fa-carrot"></span>
                            </a></li>
                        <li><a href="#"> Zonas de Envío
                            <sapn class="fas fa-map-marked-alt"></sapn>
                            </a></li>
                        <li><a href="#"> Quienes Somos
                            <sapn class="fas fa-users"></sapn>
                            </a></li>
                        <li><a href="#"> Contacto
                            <sapn class="fas fa-tty"></sapn>
                            </a></li>  
                </ul>
            </nav>
            <a class="basket" href="./views/productCart.html">  <sapn class="fas fa-shopping-basket"></sapn></a>
        </section> 
    </header> 
        <main>
            <div style="background-image: url('/images/capture.png');">
                <section class="loginPage">
                            <form action="/login" method="POST">
                            <p>
                                <label>   Usuario:</label>
                                <input type="text" name="usuario">
                            </p>
                            <p>
                                <label> Contrasena:</label>
                                <input type="password" name="contrasena">
                            </p>
                            <p>
                                <input type="radio">Recordame</button>
                            </p>
                            <p>
                                <button type="submit">Enviar</button>
                            </p>   
                        </form>
                        <nav role="navigation">
                            <ul id="menu-options">
                                    <li><a href="#">Recuperá tu contrasena
                                        </a></li>
                                    <li><a href="./views/register.html">REGISTRATE
                                        </a></li>
                            </ul>
                        </nav>
                </section>
            
        </main>
        <footer>
            <section >
                <br>
                        <div class="padre">
                            <div class="hijo">
                        <i class="fas fa-credit-card"></i>
                        <h3>Pagá con tarjeta o en efectivo</h3>
                        <p class="parrafo">Tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.</p>
                            </div>
                        <div class="padre">
                            <div class="hijo">
                        <i class="fas fa-gift"></i>
                        <h3>Envío gratis desde $2.500</h3>
                        <p class="parrafo">Solo por estar registrad@ en VerduMarket tenés envíos gratis. </p>
                            </div>
                    </div>
                        <div class="padre">
                            <div class="hijo">
                        <i class="fab fa-facebook-square"></i> 
                        <i class="fab fa-instagram"></i>
                        <h3>Seguinos en nuestras redes</h3>
                        <p class="parrafo">Enterate de nuestras ofertas y actualidades.</p>
                            </div>
                    </div>
            </section>
            <section>
                <article>
                    <h5>Copyright © 1999-2021 VerduMarket S.R.L.</h5>
                </article>
            </section>
        </footer>
    
</body>

</html>