<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/header-footer.css" />
  <link rel="stylesheet" href="/css/productDetail.css" />
  <link rel="shortcut icon" href="/icons/broccoli.svg" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <p class="banner"> ¡REGISTRATE Y OBTENÉ UN 10% DE DESCUENTO EN TU PRIMERA COMPRA! ¡SI TU COMPRA ES MAYOR A $3500 TENÉS
    EL ENVÍO BONIFICADO!</p>

    <header>
      <a href="/">
        <img src="/images/logo2b.png" alt="Logo" class="logo-verdu">
      </a>
      <div class="hamburger-container">
        <input type="checkbox" id="btn-menu" />
        <div class="btn-container">
          <label for="btn-menu"><i class="fas fa-bars fa-1x"></i></label>
        </div>
        <nav class="menu">
          <ul>
            <li><a href="/views/productDetail.html">Productos</a></li>
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="/views/register.html">Registrate</a></li>
            <li><a href="/views/login.html">Ingresá</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </header>


  <main>
    <article>
      <div class="imgproduct">
        <img src="/images/naranja.jpeg" alt="naranja" class="naranja-img">
      </div>
      <div class="conteiner1">
        <div class="product-desc">
          <h4>Fruta</h4>
          <h3>Naranja</h3>
          <h4>$100</h4>
        </div>
        <div class="buttons">
        <form action="" method="POST">
          <input type="submit" value="- Cant +" class="cant-bt"> 
          <input type="submit" value="Enviar" class="add-bt">        
        </form>
      </div>
      </div>
    </article>
    <div class="description">
      <h2>Descripcion</h2>
      <p>La <strong>naranja</strong> es una de las frutas más populares ya que tiene un alto contenido en vitamina C, 100 gramos de naranja contiene el 90% de necesidades diarias de esta vitamina. Además contiene flavonoides (con efectos antioxidante, antiinflamatorio y antitumoral) y limonoides (anticancerígeno).
      </p>
    </div>
    <h2 class="relproduct">Productos relacionados</h2>
    <div class="row">
      <div class="column">
        <img src="/images/Manzana.webp" alt="Manzana" style="width: 100%;">
        <div class="product-desc2">
          <h5>Categoria</h5>
          <h4>Producto</h4>
          <h5>Precio</h5>
        </div>
        <div class="buttons2">
          <button type="button" class="cant-bt">- Cant +</button>
          <button type="button" class="add-bt">Agregar</button>
        </div>
      </div>
      <div class="column">
        <img src="/images/banana.jpg" alt="Banana" style="width: 100%;">
        <div class="product-desc2">
          <h5>Categoria</h5>
          <h4>Producto</h4>
          <h5>Precio</h5>
        </div>
        <div class="buttons2">
          <button type="button" class="cant-bt">- Cant +</button>
          <button type="button" class="add-bt">Agregar</button>
        </div>
      </div>
      <div class="column2">
        <img src="/images/frutilla.jpeg" alt="frutilla" style="width: 100%;">
        <div class="product-desc2">
          <h5>Categoria</h5>
          <h4>Producto</h4>
          <h5>Precio</h5>
        </div>
        <div class="buttons2">
          <button type="button" class="cant-bt">- Cant +</button>
          <button type="button" class="add-bt">Agregar</button>
        </div>
      </div>
      <div class="column2">
        <img src="/images/pera.jpeg" alt="perz" style="width: 100%;">
        <div class="product-desc2">
          <h5>Categoria</h5>
          <h4>Producto</h4>
          <h5>Precio</h5>
        </div>
        <div class="buttons2">
          <button type="button" class="cant-bt">- Cant +</button>
          <button type="button" class="add-bt">Agregar</button>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <section>
      <br>
      <div class="padre">
          <div class="hijo">
              <i class="fas fa-credit-card"></i>
              <h3>Consultá nuestros medios de pago aquí</h3>
              <p class="parrafo">Tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.</p>
                  </div>
              <div class="padre">
                  <div class="hijo">
              <i class="fas fa-gift"></i>
              <h3>Bolsones y Envíos sin costo</h3>
              <p class="parrafo">Solo por estar registrad@ en VerduMarket tenés envíos gratis. </p>
                  </div>
          </div>
              <div class="padre">
                  <div class="hijo">
              <i class="fab fa-facebook-square"></i> 
              <i class="fab fa-instagram"></i>
              <h3>Seguinos en nuestras redes</h3>
              <p class="parrafo">Enterate de nuestras ofertas y actualidades.</p>
                  </div>
          </div>
  </section>
  <section>
      <article>
          <h5>Copyright © 2021 VerduMarket S.R.L.</h5>
      </article>
  </section>
  </footer>
</body>

</html>