<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/template2.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Header y <Footer></Footer></title>

</head>
<body>
    <p class="banner"> banner ofertas !!! </p>
    <header>

        <img src=/images/logo1.png  alt="Logo" width=200px >
        <input class="buscador" type="search" placeholder="Buscar productos">
        <div class="contenedor"> <span class="fas fa-search"></span> </div>

        <nav>
            <ul>
                <li><a href="#"><li>Productos</li></a>
                <li><a href="#"><li>Zonas de Envío</li></a>
                <li><a href="#"><li>Quienes Somos</li></a>
                <li><a href="#"><li>Contacto</li></a>  
            </ul>
        </nav>
    
        <i class="fas fa-bars"></i>
    </header>

    <footer>
        <section >
                    <div class="padre">
                        <div class="hijo">
                    <i class="fas fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p class="parrafo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>
                        </div>
                    <div class="padre">
                        <div class="hijo">
                    <i class="fas fa-gift"></i>
                    <h3>Envío gratis desde $2.500</h3>
                    <p class="parrafo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                        </div>
                </div>
                    <div class="padre">
                        <div class="hijo">
                    <i class="fas fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p class="parrafo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                        </div>
                </div>
        </section>
         <section>
            <article>
                <br>
                <h5>Copyright © 1999-2021 VerduMarket S.R.L.</h5>
            </article>
        </section>
    </footer>
   
</body>

</html>
