<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/template.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"/>        
    <title>Document</title>
</head>

<body>
  <header>
         <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
   
    <nav class = "menu" >
          <ul class="menu-options">
              <li> <a href="/views/Contacto.html">Quienes Somos </a></li>
              <li> <a href="/views/index.html">Productos </a></li>
              <li> <a href="/views/informacion.html">Zonas de Envío </a></li>
          </ul>
          <ul class="menu-log">
            <li><a href="/views/register.html"> Creá tu cuenta 
                <span class="fas fa-address-card"></span>
                </a></li>
            <li><a href="/views/login.html"> Ingresá 
                <sapn class="fas fa-sign-in-alt"></sapn>
                </a></li>
            <li><a href="#"> Mis compras 
                <sapn class="fas fa-shopping-basket"></sapn>
                </a></li>
        </ul>
      </nav>
      <div class= "logo">
        <img src=/images/logo1.png  alt="Logo" width=200px >
      </div>
      <input class="login" type="search" placeholder=" Usuario ">
      <div class="contenedor">
      <span class="fas fa-search"></span>
    </div>
    <input class="password" type="search" placeholder=" Contrasena ">
      <div class="contenedor">
      <span class="fas fa-search"></span>
    </div>
      
  </header>
<body>


    
</body>
</html>