<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/template.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"/>        
    <title>Document</title>
</head>

<body>
  <p> BARRITA</p>
  <header> 
    
    <nav class = "menu" >
      <nav role="navigation">
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <a href="#"><li>Productos</li></a>
            <a href="#"><li>Zonas de Envío</li></a>
            <a href="#"><li>Quienes Somos</li></a>
            <a href="#"><li>Contacto</li></a>         
          </ul>
        </div>
      </nav>

    <div class= "logo">
        <img src=/images/logo1.png  alt="Logo" width=200px >
      </div>
    
    <div class="contenedor">
        <input class="login" type="search" placeholder=" Usuario ">
        <span class="fas fa-user"></span>
        <input class="password" type="search" placeholder=" Contrasena ">
        <span class="fas fa-key"></span>
      </div>
      
  </header>
<body>


    
</body>
</html>