* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #f6f6f6;
  }
  
  /* Reglas generales (despúes las borramos) 
  1) Empezamos a desarrollar MOBILE FIRS
  2) Breakpoints media queries:
  -Mobile 360
  -Tablet 769
  -Desktop1100
  3) Paleta de colores (temporal, despues la definimos)
  https://colorhunt.co/palette/258285
  4) Trabajar las clases en ingles
  5) Solo trabajar MARGIN-BOTTOM (margenes hacia abajo)
  */
  
  
  /* Trabajo sobre el menú hamburguesa y listado desplegable */
  #menu-options {
    display: block;
    margin: 15px;
    /* 
    NICO: verificar media querie
    position: relative;
    top: 15px;
    left: 10px; */
    z-index: 1;
  }
  #menu-options a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }
  #menu-options a:hover {
    color: #98ded9;
  }
  #menu-options input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  #menu-options span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #161d6f;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  #menu-options span:first-child {
    transform-origin: 0% 0%;
  }
  #menu-options span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #menu-options input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #98ded9;
  }
  #menu-options input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menu-options input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    position: absolute;
    width: 150vw;
    margin: -110px 0 0 -60px;
    padding-left: 55px;
    padding-top: 110px;
    background: #c7ffd8;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  #menu-options input:checked ~ ul {
    transform: none;
  }
  
  
  
  /* Trabajo sobre el nav */
  nav {
    display: flex;
    flex-direction: column;
  }
  header img {
    display: block;
    width: 100vw;
    margin-bottom: 30px;
  }
  
  
  
  /* Trabajo sobre main */
  /* Seccion Pedir*/
  main .order {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    text-align: center;  
  }
  .order h3 {
    margin-bottom: 10px;
  }
  .order p {
    margin-bottom: 40px;
  }
  .order .order-button {
    border: none;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
  }
  .order .order-button:hover {
    background-color: #008CBA;
    color: white;
  }
  
  
  
  .order i {
    color: #ffff00;
  }
  .logo {
    display: block;
    width: 100vw;
    padding: 45px;
  }

   /* Especificaciones del mail del Formualario de Registro*/
   .main-register{
    width: 330px;
    margin:auto;
    color:#666; }

        /*Formulario de registro*/

        .main-register section .register{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            
        }
        .main-register section .register .form-control{
            margin-top: 15px;
            display: block;
            
        }
        .main-register section .register .form-control .control{
            width: 100%;
            padding: 15px;
            border: 1px solid #98ded9;
            border-radius: 5px;
            font-size: 16px;
            color:#161d6f;
        }
        .main-register section .register .form-address{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        .main-register section .register .form-address #address{
         width: 100%; 
        }
        .main-register section .register .form-address .address-especification{
          width: 30%;
        }
        
        .main-register section .register .buttons{
            display: flex;
            justify-content: center;
        }
        .main-register section .register .button-form{
            width:50%;
            padding:15px; 
            background-color:#98ded9;
            color:#ffffff;
            font-size: 16px;
            text-align: center;
            margin: 1px;
            border:none
        }
      .main-register section .register .form-control .control:focus{
        background-color: #c7ffd8;
      }
        .main-register section .register .check{
          margin: 15px 0;
          font-size: 13px;
        }
        .main-register section .register img{
          background-color: #98ded9 ;
          width: 100%;
          margin: auto;
        }
        
        .main-register section .register .submit{
            background-color: #161d6f;
            font-weight: bold;
        }

        /*fin formulario de registro*/
        /*ProductCart*/
