*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Centuty gothic', sans-serif;
    color: black;
}

header{
    background: #4C8055;
    width: 100%;
}
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
p {
    background-color: rgb(241, 233, 109);
    width: 100%;
    text-align: center;
    border: 0px 0px 0px 3px gray;
}

.logo {
    text-align: center;
    background-color: white;
    width: 20%;
    height: 20%;
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
}


.contenedor {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


  