*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Centuty gothic', sans-serif;
    color: black;
}

header{
    background: #4C8055;
    width: 100%;
    padding: 0;
    margin: 0;
   
}
.logo {
    text-align: center;
    border: 5px solid #3d5c05;
    background-color: white;
}

header {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    
}

.login {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    float: right;
    justify-content: flex-end;
}

.password {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    float: right;
    justify-content: flex-end;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    }

.menu-options {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 0px;
    list-style: none;
    overflow: auto;
    text-decoration: none;
    margin: 10px;
    justify-content: space-around;
}
.menu-log {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 0px;
    list-style: none;
    overflow: auto;
    text-decoration: none;
    margin: 10px;
    justify-content: space-around;
}

/*
@media (min-width: 361px){
    header{
        width: 768px;
        height: 150px;
    }
    header p{
        font-size: 12px;
        margin-left: 60%;
        margin-top: -35px;
    }
   
    header i{
        margin-left: -100%;
    }
    
    header nav{
        margin-left: 15px;
        margin-top: 70px;
        /*border: 1px solid red;*/ /*
        display: flex;
        justify-content:space-between;
    }
    
    header nav ul{/*
        /*display: inline;
        display: flex;
        
    }
    header nav .menulog{*/
        /*float: right;
        margin: 5px;*/  
        /*border: 1px solid #1259c3;  */ /*
        display: flex;
        justify-content: center;
        
    }
    header nav ul li{
        /*
        /*display: inline;
        
        margin: 5px;*/
        /*
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin-left: 10px;
        
    }
    
    header .buscador{
        width: 300px;
        position: absolute;
        margin-left: 165px;
    }
    header .contenedor{
        margin-right: 280px;
    }
*/


/*
@media (min-width: 769px){
    header{
        width: 100%;
        height: 150px;
    }

   
    header .buscador{
        width: 680px;
    }
    header .contenedor{
        margin-right: 420px;
    }
    header p{
        font-size: 16px;
    }
   
}
}
/*